#Specific ignores
build
builds/
Release/
build
dbuild
sbuild
cross
dcross
scross

# Ignore vs code
.vscode/

# Allowing .out files for PRU stuff
BBBSetup/halt/Debug/*
BBBSetup/pru_encoder/Debug/*
!BBBSetup/halt/Debug/halt.out
!BBBSetup/pru_encoder/Debug/pru_encoder.out


.vscode


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#MAC
.DS_Store



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dep

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
# *.out   #disable to allow for pru execuitables
*.app
build
build-debug
build-test
cross
cross-debug
cross-test

# Other
.depend
*.swp
