[submodule "CentralComputing/googletest"]
	path = CentralComputing/googletest
	url = https://github.com/google/googletest.git
[submodule "CentralComputing/cpplint"]
	path = CentralComputing/cpplint
	url = https://github.com/google/styleguide
