.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  bottom: 10px;
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Accel-Circle {
  position: absolute;
  height: 100px;
}

.Pos-Line {
  position: absolute;
  bottom: 150px;
}

.Pos-Text {
  position: absolute;
  bottom: 150px;
}

.Speed-Circle {
  position: absolute;
  height: 200px;
  bottom: 400px;
  left: 100px;
}

.Speed-Text {
  position: absolute;
  bottom: 340px;
  left: 155px;
}

.Accel-Circle {
  position: absolute;
  height: 200px;
  bottom: 400px;
  right: 100px;
}

.Accel-Text {
  position: absolute;
  bottom: 340px;
  right: 125px;
}

.Stop-Button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 100px;
  width: 350px;
  background-color: red;
  font-size: 25px;
}

.Ready-Button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 350px;
  background-color: green;
  font-size: 25px;
}

.Connection-Text {
  position: absolute;
  top: 20px;
  color: red;
}